version: '3.8'

services:
  qvcache:
    container_name: qvcache
    image: qvcache:latest
    build: .
    volumes:
      - .:/app
      - qdrant_storage:/qdrant/storage
    working_dir: /app
    entrypoint: bash
    stdin_open: true
    tty: true
    depends_on:
      - qdrant

  qdrant:
    container_name: qdrant
    image: qdrant/qdrant:latest
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_storage:/qdrant/storage
    environment:
      - QDRANT__SERVICE__GRPC_PORT=6334

volumes:
  qdrant_storage:
