include README.md
include LICENSE
include pyproject.toml
include CMakeLists.txt
include *.cpp
include *.h
include *.py
recursive-include qvcache *.py *.pyi
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

